<h1>Welcome Please Sign-In</h1>
<%= form_tag("/signin") do %>
    <%= label_tag('user[name]', "Username") %>
    <%= text_field_tag('user[name]')%><br>
    <%= label_tag('user[password]', "Password") %>
    <%= text_field_tag('user[password]') %>
    <%= submit_tag "Sign-In" %>
<% end %>
